.show {
  background: linear-gradient(-180deg, #34d058, #28a745 90%); }

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

#scroll {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  background-color: black;
  text-indent: -999rem;
  display: none;
  -webkit-border-radius: 6rem;
  -moz-border-radius: 6rem;
  border-radius: 6rem;
  z-index: 1; }

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff; }

#scroll:hover {
  background: linear-gradient(-180deg, #34d058, #28a745 90%);
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
  box-shadow: 0 0 1rem black; }

body {
  /* background: url("../images/AHlogo.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-image: linear-gradient(#313131, #818181); }

html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 62.5%; }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-around; }

.col {
  width: 35%; }

#col-test {
  width: 35%;
  font-style: italic;
  padding-bottom: 25px; }

body {
  font-family: raleway; }

h2 {
  font-size: 4rem;
  text-align: center;
  font-family: raleway;
  text-shadow: 0 0 1rem black;
  color: white;
  text-align: center; }

#headwrap h3 {
  font-size: 2.5rem;
  padding: 0 2rem;
  font-family: raleway;
  text-shadow: 0 0 1rem black;
  color: white; }

#mediaAbout p {
  font-size: 2rem;
  width: 75rem;
  text-indent: 1rem; }

.carousel-item p {
  display: inline-block;
  background-color: #00000099;
  color: white;
  font-size: 2rem;
  width: 90rem; }

blockquote {
  font-family: Georgia, serif;
  font-size: 1.7rem;
  font-style: italic;
  width: 60rem;
  margin: 0.25rem 0;
  padding: 3rem;
  line-height: 1.45;
  position: relative;
  color: #383838;
  border-left: 0;
  margin-bottom: 7rem;
  background-color: lightgray;
  border-radius: .5rem;
  box-shadow: 0 1.5rem 4rem #00000025; }

blockquote:before {
  display: block;
  padding: 1rem;
  margin: -8px 0 0 1rem;
  content: "\201C";
  font-size: 7rem;
  position: absolute;
  left: -2rem;
  top: -2rem;
  color: #000000; }

blockquote cite {
  color: #000000;
  font-size: 1.4rem;
  display: block;
  margin-top: 5px; }

blockquote cite:before {
  content: "\2014 \2009"; }

#email-button {
  cursor: pointer;
  outline: 0;
  border: 2px solid #34d058;
  color: black;
  padding: 1rem 2.5rem;
  background-color: transparent;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: .5rem;
  transition: all .3s ease-in-out;
  font-family: raleway; }

#email-button:hover {
  background: linear-gradient(-180deg, #34d058, #28a745 90%);
  color: white;
  font-weight: 600;
  text-shadow: 0 0 1rem black;
  text-decoration: none; }

.card:hover {
  transition: transform .3s ease;
  transform: translateY(-10px) scale(1.03); }

.card-body {
  font-size: 1.6rem;
  background: linear-gradient(-180deg, #34d058, #28a745 90%); }

.card-title {
  font-size: 2rem;
  text-shadow: 0 0 1rem black;
  color: white; }

#card-icon {
  color: black;
  font-size: 3rem;
  text-decoration: none; }

#card-icon:hover {
  color: white;
  text-shadow: 0 0 1rem black; }

.card-img-top {
  background-size: cover;
  height: 20rem; }

.carousel-indicators li {
  display: inline-block;
  height: 1rem;
  margin: 1rem;
  text-indent: 0;
  cursor: pointer;
  border: none;
  background-color: black;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5); }

.carousel-indicators .active {
  height: 1rem;
  margin: 1rem;
  background: linear-gradient(-180deg, #34d058, #28a745 90%); }

#test-carousel-indicators li {
  display: inline-block;
  height: 1rem;
  margin: 1rem;
  text-indent: 0;
  cursor: pointer;
  border: none;
  background-color: black;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5); }

#test-carousel-indicators .active {
  height: 1rem;
  margin: 1rem;
  background-color: white; }

#carousel-control {
  display: inline-block;
  color: white;
  font-size: 2.5rem;
  background-color: black;
  border-radius: 25%;
  height: 3.5rem;
  width: 3.5rem; }

nav a {
  text-decoration: none;
  font-family: raleway;
  font-weight: 900;
  transition: all .3s ease-in-out;
  font-size: 18px;
  color: black;
  padding: 1em; }

nav a:hover {
  color: white;
  text-shadow: 0 0 10px black; }

#menu_li, #menu_li a {
  list-style: none;
  text-decoration: none; }

.menu {
  display: none; }

.sidenav {
  display: none; }

.sidenav a {
  display: none; }

footer {
  font-size: 2rem;
  margin: 0 2rem; }

footer h5 {
  font-size: 2rem; }

footer a {
  color: black;
  transition: all .3s ease-in-out;
  font-size: 2rem; }

footer a:hover {
  color: white;
  text-shadow: 0 0 1rem black;
  text-decoration: none; }

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.wrap a {
  font-size: 3rem;
  padding: 1rem; }

header {
  position: relative;
  height: 50%;
  width: 100%;
  overflow: hidden;
  background-image: url(../images/header_img.jpg);
  background-repeat: no-repeat; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  text-shadow: 0 0 1rem black; }

.heading-primary--sub {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  animation: moveInRight 1s ease-out;
  text-shadow: 0 0 1rem black; }

#headwrap {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 16;
  height: 3.2rem; }

#about {
  background: linear-gradient(-180deg, #34d058, #28a745 90%);
  padding: 3rem 0;
  height: 60rem;
  margin: 2rem; }

#about-pic {
  width: 30%;
  border-radius: 5px; }

#test {
  background: linear-gradient(-180deg, #34d058, #28a745 90%);
  padding: 3rem 0;
  height: 50rem;
  margin: 2rem; }

#projects {
  padding: 3rem 0;
  margin: 2rem;
  min-height: 50rem; }

#contact {
  height: 30rem;
  margin: 2rem; }

section {
  border-radius: 5px; }

/* ----------------------------------------
Media queries
------------------------------------------- */
@media only screen and (max-width: 800px) {
  #about-pic {
    /* width: 400px;
        height: 267px; */
    width: 70%; }
  body {
    background-size: contain; }
  .display-3 {
    font-size: 40px; }
  #mediaAbout p {
    display: flex;
    flex-direction: column;
    padding: 10px; }
  .col {
    width: 75%; }
  #about, #test {
    height: auto; }
  #headwrap h1 {
    font-size: 30px; }
  nav {
    display: none; }
  .menu {
    display: inline-block;
    cursor: pointer; }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s; }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); }
  .change .bar2 {
    opacity: 0; }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }
  .sidenav {
    display: none;
    z-index: 1; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    transition: 0.3s;
    background-color: #00bfff99; }
  .sidenav a:hover {
    color: white;
    text-shadow: 0 0 10px black; } }

@media only screen and (max-width: 475px) {
  body {
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%; }
  .line-1 {
    font-size: 13px; }
  .heading-primary--main {
    font-size: 40px; }
  .heading-primary--sub {
    font-size: 15px; }
  #welcome {
    text-align: center; }
  #welcome h1 {
    font-size: 30px; }
  #mediaAbout p {
    font-size: 15px;
    width: 350px; }
  #projects {
    margin-bottom: 0; }
  #projectImg {
    width: 100%;
    height: 200px; }
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px; }
  .carousel-item p {
    font-size: 15px;
    width: 100%; }
  #carousel-control {
    margin-top: 270px; }
  #test #carousel-control {
    margin-top: 400px; }
  #testCarousel {
    height: 460px; }
  blockquote {
    width: 300px; }
  #contact h5 {
    font-size: 15px; } }

@media only screen and (min-width: 675px) {
  form {
    align-items: center; }
  /* input, textarea, button{
    width: 650px;
} */ }

@media only screen and (max-width: 1025px) {
  blockquote {
    font-size: 1.3rem; }
  blockquote:before {
    font-size: 6rem;
    margin-left: 10px; } }
