@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilites";  

@import "components/blockquote";
@import "components/_button.scss";
@import "components/card";
@import "components/carousel";
@import "components/navigation"; 

@import "layout/footer";  
// @import "layout/grid";          
@import "layout/header"; 

@import "pages/home";


/* ----------------------------------------
Media queries
------------------------------------------- */
@media only screen and (max-width: 800px){
    #about-pic{
        /* width: 400px;
        height: 267px; */
        width: 70%;
    }

    body{
            background-size: contain;
    }

    .display-3{
        font-size:40px;
    }

    #mediaAbout p{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .col{
        width: 75%
    }

    #about, #test {
        height: auto;
    }
    

    #headwrap h1{
        font-size: 30px;
    }

    nav{
        display: none;
    }

    .menu {
        display: inline-block;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .sidenav {
        display: none;
        z-index: 1;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: black;
        display: block;
        transition: 0.3s;
        background-color: #00bfff99;
    }

    .sidenav a:hover {
        color: white;
        text-shadow: 0 0 10px black;
    }

}

@media only screen and (max-width: 475px){
    body{
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: 100%; 
    }

    .line-1{
        font-size: 13px;
    }

    .heading-primary--main{
        font-size: 40px;
    }

    .heading-primary--sub{
        font-size: 15px;
    }

    #welcome{
        text-align: center;
    }

    #welcome h1{
        font-size: 30px;
    }

    #mediaAbout p{
        font-size:15px;
        width:350px;
    }

    #projects{
        margin-bottom: 0;
    }

    #projectImg{
        width:100%;
        height:200px;
    }

    .bar1, .bar2, .bar3{
        width: 30px;
        height: 4px;
    }

    .carousel-item p{
        font-size: 15px;
        width: 100%;
    }

    #carousel-control{
        margin-top:270px;
    }

    #test #carousel-control{
        margin-top:400px;
    }

    #testCarousel{
        height: 460px;
    }

    blockquote {
        width: 300px;
    }

        #contact h5{
        font-size:15px;
        }
    }

@media only screen and (min-width: 675px){
    form{
        align-items: center;
    }

/* input, textarea, button{
    width: 650px;
} */
}

@media only screen and (max-width:1025px){
    blockquote {
        font-size: 1.3rem;
    }

    blockquote:before {
        font-size: 6rem;
        margin-left: 10px;
    }

} 