footer{
    background: linear-gradient(-180deg,#34d058,#28a745 90%);
    margin:0 20px;
    border-radius: 10px 10px 0 0;
  }
  
  footer a{
    color:black;
    transition: all .3s ease-in-out;
    font-size: 16px;
  }
  
  footer a:hover{
    color:white;
    text-shadow: 0 0 10px black;
    text-decoration: none;
  }
  
  .wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .wrap a {
    font-size: 30px;
    padding:10px;
  }