.show {
    background: linear-gradient(-180deg,#34d058,#28a745 90%);
}

.transition {    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}