blockquote {
    font-family: Georgia, serif;
    font-size: 1.7rem;
    font-style: italic;
    width: 60rem;
    margin: 0.25rem 0;
    padding:3rem;
    line-height: 1.45;
    position: relative;
    color: #383838;
    border-left: 0;
    margin-bottom: 7rem;
    background-color: lightgray;
    border-radius: .5rem;
    box-shadow: 0 1.5rem 4rem #00000025;
    }
    
    blockquote:before {
    display: block;
    padding: 1rem;
    margin: -8px 0 0 1rem;
    content: "\201C";
    font-size: 7rem;
    position: absolute;
    left: -2rem;
    top: -2rem;
    color: #000000;
    }
    
    blockquote cite {
    color: #000000;
    font-size: 1.4rem;
    display: block;
    margin-top: 5px;
    }
    
    blockquote cite:before {
    content: "\2014 \2009";
    }