#email-button {
    cursor: pointer;
    outline: 0;
    border: 2px solid #34d058;
    color: black;
    padding: 1rem 2.5rem;
    background-color: transparent;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .5rem;
    transition: all .3s ease-in-out;
    font-family: raleway;
}

#email-button:hover {
    background: linear-gradient(-180deg,#34d058,#28a745 90%);
    color: white;
    font-weight: 600;
    text-shadow: 0 0 1rem black;
    text-decoration: none;
}