.card:hover{
  transition: transform .3s ease;
  transform: translateY(-10px) scale(1.03) ;
}

.card-body{
  font-size: 1.6rem;
  background: linear-gradient(-180deg,#34d058,#28a745 90%);
}

.card-title{
  font-size: 2rem;
  text-shadow: 0 0 1rem black;
  color: white;
}

#card-icon{
  color:black;
  font-size: 3rem;
  text-decoration: none;
}

#card-icon:hover{
  color: white;
  text-shadow: 0 0 1rem black;
}

.card-img-top{
  background-size: cover;
  height: 20rem;
}

