body {
    font-family: raleway;  
}

h2{
    text-align: center;
    font-family: raleway;
    text-shadow: 0 0 10px black;
    color:white;
    text-align: center;
}

#headwrap h3{
    padding:0 20px;
    font-family: raleway;
    text-shadow: 0 0 10px black;
    color:white;
}

#mediaAbout p{
    font-size: 18px;
    width: 750px;
    text-indent: 1em;
}

.carousel-item p{
    display: inline-block;
    background-color: #00000099;
    color: white;
    font-size: 20px;
    width: 889px;
}